@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #e4e4e4;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enforce the Nydus "Square" Design System */
* {
  border-radius: 0px !important;
}

/* Custom Scrollbar for that 'Admin' feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f0f9ff; /* sky-50 */
}
::-webkit-scrollbar-thumb {
  background: #0ea5e9; /* sky-500 */
}
::-webkit-scrollbar-thumb:hover {
  background: #0c4a6e; /* sky-900 */
}